
@{
    ViewBag.Title = "Index";
}

<div>
    <img src="~/Content/pictures/Engineering_Hero.png" class="img-fluid" alt="Responsive image">
      
</div>


<h2>Welcome to the Update your Major Form</h2>

<div>
    @Html.ActionLink("Update/Change Form", "Create", "Request", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("View Change Requests", "Index", "Request", new { area = "" }, new { @class = "navbar-brand" })
</div>

    <style>
        img-fluid {
            background-image: url("~/Content/pictures/Engineering_Hero.png");
            
            
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
        }

        
    </style>
